<?xml version="1.0"?>

<robot name="quad_wheel" xmlns:xacro="http://wiki.ros.org/xacro">

<xacro:include filename="$(find quadruped_description)/xacros/gazebo_plugin.xacro" />
<xacro:include filename="$(find quadruped_description)/xacros/material.xacro" />
<xacro:include filename="$(find quadruped_description)/xacros/quad_wheel.xacro" />
<xacro:include filename="$(find quadruped_description)/xacros/transmission.xacro" />

<xacro:quad_wheel></xacro:quad_wheel>

<xacro:leg_transmission>name = "L1"</xacro:leg_transmission>
<xacro:leg_transmission>name = "L2"</xacro:leg_transmission>
<xacro:leg_transmission>name = "L3"</xacro:leg_transmission>
<xacro:leg_transmission>name = "L4"</xacro:leg_transmission>

<xacro:material> name="L1" color0="Black" color1="White" color2="Black" color3="White" colorw="Black" </xacro:material>
<xacro:material> name="L2" color0="Black" color1="White" color2="Black" color3="White" colorw="Black" </xacro:material>        
<xacro:material> name="L3" color0="Black" color1="White" color2="Black" color3="White" colorw="Black" </xacro:material>
<xacro:material> name="L4" color0="Black" color1="White" color2="Black" color3="White" colorw="Black" </xacro:material>

<xacro:gazebo_plugin></xacro:gazebo_plugin>

</robot>